:root {
  --xbox: #00ff6a;
}

/* ===== HEADER PRINCIPAL ===== */
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 10px 0;
  background: rgba(10, 10, 10, 0.65);
  backdrop-filter: blur(7px);
  z-index: 100;
  transition: 0.25s ease;
}

.header-scrolled {
  box-shadow: 0 2px 12px rgba(0, 255, 120, 0.15);
  background: rgba(10, 10, 10, 0.85);
}

/* Inner container */
.header-inner {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ==== LOGO ==== */
.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.logo-icon {
  background: linear-gradient(135deg, #00ff6a, #00c44d);
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: 700;
  font-size: 20px;
}

.logo-text {
  font-size: 1.25rem;
  font-weight: 600;
}

/* ==== NAV DESKTOP ==== */
.header-nav {
  display: flex;
  gap: 22px;
}

.nav-link {
  color: white;
  transition: 0.25s;
  font-size: 1rem;
}

.nav-link:hover {
  color: var(--xbox);
  text-shadow: 0 0 6px var(--xbox);
}

/* ==== ACTION BUTTONS ==== */
.header-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-search {
  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 6px;
  padding: 8px 10px;
  width: 180px;
  color: white;
}

.header-search::placeholder {
  color: #aaa;
}.header-search {
  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 6px;
  padding: 8px 10px;
  width: 180px;
  color: white;
}

.header-search::placeholder {
  color: #aaa;
}

.add-btn {
  padding: 8px 12px;
  background: var(--xbox);
  color: #000;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

#linkAgregar{
  color: #000;
  text-decoration: none;
}

.add-btn:hover {
  background: #00cc55;
  box-shadow: 0 0 8px var(--xbox);
}


/* ===== HAMBURGER ===== */
.hamburger {
  width: 32px;
  height: 26px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 4px;
  background: white;
  border-radius: 2px;
  transition: 0.3s;
}

.hamburger.open span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

/* ===== MOBILE MENU ===== */
.mobile-menu {
  background: #111;
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 12px;
}

.mobile-menu a {
  color: white;
  font-size: 1.1rem;
  padding: 6px 0;
}

.mobile-menu a:hover {
  color: var(--xbox);
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .header-nav {
    display: none;
  }

  .add-btn {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}
