.detalle-container {
  width: 100%;
}

.detalle-banner {
  height: 300px;
  background-size: cover;
  background-position: center;
  filter: blur(4px) brightness(0.4);
}

.detalle-info {
  margin-top: -180px;
  padding: 20px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.detalle-portada {
  width: 220px;
  border-radius: 10px;
  box-shadow: 0 0 15px #000;
}

.detalle-title {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: bold;
}

.detalle-btn {
  margin-top: 20px;
  padding: 12px 16px;
  background: #00ff80;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
