.game-card {
    width: 190px;
    background: #0f0f0f;
    border: 1px solid #0f3;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.25s ease;
    box-shadow: 0 0 8px #00ff80;
}

.game-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #00ff80;
    border-color: #00ff80;
}

.game-img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.game-info {
    padding: 10px;
}

.game-title {
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 4px;
}

.game-genre {
    color: #b3ffcc;
    font-size: 0.9rem;
}

.game-meta {
    margin-top: 4px;
    color: #aaa;
    font-size: 0.75rem;
}

