@tailwind base;
@tailwind components;
@tailwind utilities;

/* variables extra si las quieres disponibles en CSS */
:root {
  --fondo: #0E0E0E;
  --texto: #FFFFFF;
  --verde: #107C10;
  --acento2: #2ECC40;
  --grisUI: #323232;
}

html, body, #root {
  height: 100%;
  background: var(--fondo);
  color: var(--texto);
  font-family: "Poppins", sans-serif;
}
